<div class="ui-g">
    <div class="ui-g-12">
        <div [formGroup]="carForm" class="card card-w-title">
            <h1>Car Detail Page</h1>

                    <span class="ui-float-label">
                         <input formControlName="vin" id="float-input" type="text" size="30" pInputText>
                         <label for="float-input">Vin</label>
                    </span>
            <br>
            <br>
                    <span class="ui-float-label">
                         <input formControlName="brand" id="float-input1" type="text" size="30" pInputText>
                        <label for="float-input1">Brand</label>
                    </span>
            <br>
            <br>
                    <span class="ui-float-label">
                        <input formControlName="year" id="float-input3" type="text" size="30" pInputText>
                        <label for="float-input3">Year</label>
                    </span>
            <br>
            <br>
                    <span class="ui-float-label">
                        <input formControlName="color" id="float-input2" type="text" size="30" pInputText>
                        <label for="float-input2">Color</label>
                    </span>

        </div>
    </div>
</div>
