<div class="dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-sales">
                <div class="overview-title">SALES</div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>$ 22,650</strong>
                </div>
                <div class="overview-ratios">16% more than previous month</div>
                <img src="assets/layout/images/icon-sales.png" alt="california-layout" />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-views">
                <div class="overview-title">VIEWS
                    <i class="fa fa-arrow-circle-down"></i>
                </div>
                <div class="overview-numbers">
                    <strong>6215</strong>/Day</div>
                <div class="overview-ratios">2% less than previous month</div>
                <img src="assets/layout/images/icon-views.png" alt="california-layout" />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-users">
                <div class="overview-title">USERS
                    <i class="fa fa-arrow-circle-up"></i>
                </div>
                <div class="overview-numbers">
                    <strong>5288</strong>/Day</div>
                <div class="overview-ratios">9% more than previous month </div>
                <img src="assets/layout/images/icon-users.png" alt="california-layout" />
            </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-message.png" alt="california-layout" class="message-icon" />
                </div>
                <div class="stats-numbers">150</div>
                <div class="stats-title">Unread Messages</div>
                <div class="stats-subtitle">You stared
                    <span>5</span> messages today</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-doc.png" alt="california-layout" class="doc-icon" />
                </div>
                <div class="stats-numbers">532</div>
                <div class="stats-title">Files Synced</div>
                <div class="stats-subtitle">
                    <span>21%</span> more than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-mark.png" alt="california-layout" class="mark-icon" />
                </div>
                <div class="stats-numbers">450</div>
                <div class="stats-title">Check-ins</div>
                <div class="stats-subtitle">
                    <span>12%</span> less than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-profile.png" alt="california-layout" class="profile-icon" />
                </div>
                <div class="stats-numbers">974</div>
                <div class="stats-title">Users Online</div>
                <div class="stats-subtitle">
                    <span>35210</span> total page view today</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <p-panel header="Weekly Tasks" styleClass="weekly-tasks">
                <ul>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Sales Reports</span>
                        <div class="weekly-task-status">
                            <span class="day">TODAY</span>
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Pay Invoices</span>
                        <div class="weekly-task-status">
                            <span class="day">TODAY</span>
                            <i class="fa fa-file"></i>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Kate's Birthday</span>
                        <div class="weekly-task-status">
                            <span class="day">2 DAYS</span>
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Client Meeting</span>
                        <div class="weekly-task-status">
                            <span class="day">3 DAYS</span>
                            <i class="fa fa-users"></i>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>New Themes</span>
                        <div class="weekly-task-status">
                            <span class="day">3 DAYS</span>
                            <i class="fa fa-photo"></i>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Flight Ticket</span>
                        <div class="weekly-task-status">
                            <span class="day">3 DAYS</span>
                            <i class="fa fa-plane"></i>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Backup Store</span>
                        <div class="weekly-task-status">
                            <span class="day">5 DAYS</span>
                            <i class="fa fa-cloud-upload"></i>
                        </div>
                    </li>
                </ul>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-4 ui-fluid">
            <p-panel header="Resolution Center" styleClass="resolution-center">
                <div class="ui-g">
                    <div class="ui-g-12" style="padding: 0 .5em">
                        <label for="email">E-mail Address</label>
                    </div>
                    <div class="ui-g-12">
                        <input type="text" id="email" pInputText placeholder="E-mail Address">
                    </div>
                    <div class="ui-g-12" style="padding: 0 .5em">
                        <label for="message">Message</label>
                    </div>
                    <div class="ui-g-12">
                        <textarea type="text" rows="5" id="message" pInputTextarea placeholder="Message"></textarea>
                    </div>
                    <div class="ui-g-12">
                        <button type="button" label="Send" pButton></button>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <p-panel styleClass="team" header="Team">
                <ul>
                    <li>
                        <img src="assets/layout/images/avatar-john.png" alt="california-layout" />
                        <div class="team-box">
                            <span class="team-member">John Swisher</span>
                            <span class="team-member-role">Design</span>
                        </div>
                        <a href="#">
                            <i class="fa fa-slack"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-warren.png" alt="california-layout" />
                        <div class="team-box">
                            <span class="team-member">Warren Shaw</span>
                            <span class="team-member-role">Development</span>
                        </div>
                        <a href="#">
                            <i class="fa fa-slack"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-brenda.png" alt="california-layout" />
                        <div class="team-box">
                            <span class="team-member">Brenda Soto</span>
                            <span class="team-member-role">Development</span>
                        </div>
                        <a href="#">
                            <i class="fa fa-slack"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-arlene.png" alt="california-layout" />
                        <div class="team-box">
                            <span class="team-member">Arlene Welch</span>
                            <span class="team-member-role">Business</span>
                        </div>
                        <a href="#">
                            <i class="fa fa-slack"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                </ul>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p-panel styleClass="chart" header="Chart">
                <p-chart type="line" [data]="chartData"></p-chart>
            </p-panel>

            <p-panel styleClass="chat" header="Chat">
                <ul>
                    <li class="message-from">
                        <div class="message-meta">
                            <img src="assets/layout/images/avatar-dani.png" alt="california-layout" />
                            <span class="name">Dani Daniel</span>
                            <span class="time">27 mins ago</span>
                        </div>
                        <div class="message">
                                    <span>Hey Micheal, I heard there is a task about unexpected event occured near San Mateo recently.
                                        Want to collabrate?</span>
                        </div>
                    </li>

                    <li class="message-own">
                        <div class="message">
                                    <span>I’m busy today but we can work on it on Sunday afternoon. Does that sounds good for you?
                                    </span>
                        </div>
                        <div class="message-meta">
                            <img src="assets/layout/images/avatar-micheal.png" alt="california-layout" />
                            <span class="name">Micheal Evan</span>
                            <span class="time">22 mins ago</span>
                        </div>
                    </li>

                    <li class="message-from">
                        <div class="message-meta">
                            <img src="assets/layout/images/avatar-dani.png" alt="california-layout" />
                            <span class="name">Dani Daniel</span>
                            <span class="time">21 mins ago</span>
                        </div>
                        <div class="message">
                            <span>OK! That sounds great. 👍 </span>
                        </div>
                    </li>
                </ul>

                <div class="write-message">
                    <i class="fa fa-paperclip"></i>
                    <input type="text" />
                </div>
            </p-panel>

            <p-panel styleClass="daily-sales" header="Daily Sales Stats">
                <table>
                    <thead>
                    <tr>
                        <th style="text-align:center">Country</th>
                        <th>Total</th>
                        <th>Change</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-france.png" alt="california-layout" />
                            <span>France</span>
                        </td>
                        <td>85681</td>
                        <td>24%</td>
                        <td>
                            <i class="fa fa-angle-up"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-uk.png" alt="california-layout" />
                            <span>UK</span>
                        </td>
                        <td>56123</td>
                        <td>21%</td>
                        <td>
                            <i class="fa fa-angle-up"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-brazil.png" alt="california-layout" />
                            <span>Brazil</span>
                        </td>
                        <td>1252</td>
                        <td>2%</td>
                        <td>
                            <i class="fa fa-angle-down"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-usa.png" alt="california-layout" />
                            <span>USA</span>
                        </td>
                        <td>236</td>
                        <td>79%</td>
                        <td>
                            <i class="fa fa-angle-up"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-japan.png" alt="california-layout" />
                            <span>Japan</span>
                        </td>
                        <td>73</td>
                        <td>90%</td>
                        <td>
                            <i class="fa fa-angle-down"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-germany.png" alt="california-layout" />
                            <span>Germany</span>
                        </td>
                        <td>49</td>
                        <td>42%</td>
                        <td>
                            <i class="fa fa-angle-down"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-holland.png" alt="california-layout" />
                            <span>Holland</span>
                        </td>
                        <td>73</td>
                        <td>3%</td>
                        <td>
                            <i class="fa fa-angle-up"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/layout/images/flag-canada.png" alt="california-layout" />
                            <span>Canada</span>
                        </td>
                        <td>40</td>
                        <td>16%</td>
                        <td>
                            <i class="fa fa-angle-up"></i>
                        </td>
                        <td>
                            <p-button type="button" icon="fa fa-search"></p-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p-panel styleClass="timeline" header="Timeline">
                <div class="timeline-line"></div>
                <ul>
                    <li class="odd">
                        <div class="timeline-message">
                            <span class="love">Brenda Soto liked your post</span>
                        </div>
                        <div class="timeline-icon">
                            <img src="assets/layout/images/icon-love.png" alt="california-layout" />
                            <span class="timeline-time">6:12 am</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="even">
                        <div class="timeline-icon">
                            <span>7:44 am</span>
                            <img src="assets/layout/images/icon-event.png" alt="california-layout" />
                        </div>
                        <div class="timeline-message">
                            <img src="assets/layout/images/bg-message2.png" alt="california-layout" class="event" />
                            <span class="event">Unexpected event happened near San Mateo</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="odd">
                        <div class="timeline-message">
                            <span class="checked">Warren Shaw finished Task #21</span>
                        </div>
                        <div class="timeline-icon">
                            <img src="assets/layout/images/icon-checked.png" alt="california-layout" />
                            <span>8:20 am</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="even">
                        <div class="timeline-icon">
                            <span>2:12 pm</span>
                            <img src="assets/layout/images/icon-checked.png" alt="california-layout" />
                        </div>
                        <div class="timeline-message">
                            <span class="checked">John Swisher finished Task #66</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li>
                        <div class="timeline-icon">


                        </div>
                        <div class="timeline-message">
                        </div>
                    </li>

                    <li class="odd">
                        <div class="timeline-icon">
                            <img src="assets/layout/images/icon-event.png" alt="california-layout" />
                            <span>2:58 am</span>
                        </div>
                        <div class="timeline-message">
                            <img src="assets/layout/images/bg-message1.png" alt="california-layout" class="event" />
                            <span class="event">Unexpected event happened near Santa Rosa</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="even">
                        <div class="timeline-icon">
                            <span>5:41 am</span>
                            <img src="assets/layout/images/icon-checked.png" alt="california-layout" />
                        </div>
                        <div class="timeline-message">
                            <span class="checked">John Swisher finished Task #66</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="odd">
                        <div class="timeline-icon">
                            <img src="assets/layout/images/icon-event.png" alt="california-layout" />
                            <span>11:12 pm</span>
                        </div>
                        <div class="timeline-message">
                            <img src="assets/layout/images/bg-message.png" alt="california-layout" class="event" />
                            <span class="event">Unexpected event happened near Vallejo</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </p-panel>

            <p-panel header="Events" styleClass="schedule">
                <p-schedule [events]="events" defaultDate="2016-01-12"></p-schedule>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p-panel header="Inventory" styleClass="inventory">
                <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin" [(selection)]="selectedCar" [responsive]="true"
                    [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="card profile-details ui-g-12"  style="padding: 0">
                <img src="assets/layout/images/image-profile.png" alt="california-layout" />
                <div class="ui-g-12" style="text-align: center">
                    <img src="assets/layout/images/profile-avatar.png" alt="california-layout" class="profile-avatar" />
                </div>
                <div class="ui-g-12" style="text-align: center">
                    <span class="profile-name">Pauline Harrell</span>
                    <span class="profile-role">Administrator</span>
                </div>
                <div class="ui-g-12" style="text-align: center; margin-top: -50px">
                    <p-button type="button" label="Edit Profile" ></p-button>
                </div>
                <div class="ui-g-12">
                    <div class="profile-statistics-panel ui-g-4">
                        <span class="profile-statistics">1098</span>
                        <span class="statistics-title">Articles</span>
                    </div>
                    <div class="profile-statistics-panel ui-g-4">
                        <span class="profile-statistics">22,681</span>
                        <span class="statistics-title">Followers</span>
                    </div>
                    <div class="profile-statistics-panel ui-g-4">
                        <span class="profile-statistics">880</span>
                        <span class="statistics-title">Following</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
